/* 
1. Posicionamiento
2. Modelo de caja
3. Tipografia
4. Estilos visuales
5. Otros
*/

:root
{
    /* Colors */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white:#FAF8F7;
    --just-white: #FFFFFF;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;
    font-family: 'DM sans', sans-serif;
    scroll-behavior: smooth;
}

header
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img
{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header--title-container
{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header--title-container h1
{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p
{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button
{
    position: absolute;
    left: calc(50% - 115px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 230px;
    height: 48px;
    background-color: var(--off-white);
    /* Shadows */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--button span
{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}

main
{
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container
{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--title
{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container .backgroundImg
{
    width: 195px;
    height: 195px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('./assets/img/Bitcoin.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-exchange-container--title h2
{
    margin-bottom: 24px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
}

.main-exchange-container--title p
{
    margin-bottom: 28px;
    font-size: 1.4rem;
    text-align: center;
    color: #757575;
    font-weight: 500;
    line-height: 1.8rem;
}

.main-table-container
{   
    display: flex;
    gap: 20px;
    height: 400px;
    padding: 0 20px 0;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type:  x proximity;
}

.main-table-container::-webkit-scrollbar
{   
    background-color: var(--soft-orange);
    height: 3px;
}

.main-table-container::-webkit-scrollbar-thumb
{
    background-color: var(--secondary-blue);
}

.main-currency-table, .main-comision-table
{
    scroll-snap-align: center;
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main-currency-table .currency-table__title
{
    margin-bottom: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}

.currency-table__container, .comision-table__container
{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency-table__container table, .comision-table__container table
{
    width: 100%;
    height: 100%;
}

.currency-table__container td, .comision-table__container td
{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.currency-table__container .table__top-left, .comision-table__container .table__top-left
{
    border-radius: 15px 0 0 0;
}

.currency-table__container .table__top-right, .comision-table__container .table__top-right
{
    border-radius: 0 15px 0 0;
}

.currency-table__container .table__bottom-left, .comision-table__container .table__bottom-left
{
    border-radius: 0 0 0 15px;
}

.currency-table__container .table__bottom-right, .comision-table__container .table__bottom-right
{
    border-radius: 0 0 15px 0;
}

.currency-table__container .table__right, .comision-table__container .table__right
{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.currency-table__container .down
{
    display: inline-block;
    width: 11px;
    height: 6px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table__container .up
{
    display: inline-block;
    width: 11px;
    height: 6px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-up.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table__date
{
    width: 173px;
    height: 31px;
    margin: 0 auto;
    margin-top: 16px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}

.currency-table__date p, .comision-table__date p
{
    width: max-content;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
    font-weight: 300;
}

.main-comision-table .comision-table__title
{
    margin-bottom: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--secondary-blue);
}

.comision-table__date
{
    width: 173px;
    height: 31px;
    margin: 0 auto;
    margin-top: 16px;
    padding: 8px;
    background-color: var(--soft-blue);
    border-radius: 8px;
}

.main-product-detail
{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}

.product-detail__logo
{
    position: absolute;
    display: flex;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url('./assets/icons/batata.svg');
}

.product-detail__title
{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product-detail__title h2
{
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 2.6rem;
    color: var(--just-white);
}

.product-detail__title p
{
    margin-top: 24px;
    margin-bottom: 32px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: #808080;
}

.product-card__detail
{
    width: 90%;
    min-width: 288px;
    max-width: 360px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: #282623;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-card__detail .icon-card
{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.clock
{
    background-image: url('./assets/icons/clock.svg');
}

.eye 
{
    background-image: url('./assets/icons/eye.svg');
}

.dollar
{
    background-image: url('./assets/icons/dollar-sign.svg');
}

.check
{
    background-image: url('./assets/icons/check-circle.svg');
}

.product-card__title
{
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product-card__body
{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: #808080;
}

.joker-image-container
{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('./assets/img/bitcoinbaby2x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.joker-image-container h2
{
    padding-top: 60px;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 2.6rem;
    color: var(--just-white);
}

.main-plans-container
{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 15px;
    padding-bottom: 70px;
    text-align: center;
    background-color: #faf8f7;
}

.plans__title
{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
}

.plans__title h2
{
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 2.6rem;
    text-align: center;
    color: var(--black);
}

.plans__title .plans__body
{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    text-align: center;
    color: #757575;
}

.plans-container__slider
{
    display: flex;
    gap: 10px;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: proximity;
}

.plans-container__slider::-webkit-scrollbar
{
    background-color: var(--soft-orange);
    height: 3px;
}

.plans-container__slider::-webkit-scrollbar-thumb
{
    background-color: var(--secondary-blue);
}

.plans-container__card
{
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 203px;
    max-width: 300px;
    height: 240px;
    margin: 50px auto 0;
    padding: 25px;
    font-family: "Inter", sans-serif;
    background-color: var(--just-white);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.plans-container__card .plans-recomend__button, .plans-container__card .plans-trial__button
{
    position: absolute;
    width: 100px;
    height: 30px;
    top: -15px;
    left: calc(50% - 50px);
    padding: 8px;
    border-radius: 5px;
    background-color: var(--bitcoin-orange);
}

.plans-container__card .plans-basic__button
{
    position: absolute;
    width: 100px;
    height: 30px;
    top: -15px;
    left: calc(50% - 50px);
    padding: 8px;
    border-radius: 5px;
    background-color: var(--secondary-blue);
}

.plans-recomend__button .recomend, .plans-basic__button .basic, .plans-trial__button .trial
{
    font-size: 1.2rem;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    padding-bottom: 5px;
    color: var(--just-white);
}

.plans-card__description
{
    height: 202px;
}


.plans-card__description h3
{
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    padding: 10px 0;
    color: var(--black);
    font-family: 'DM sans', sans-serif;
}

.plans-card__price sup, .plans-card__basic-price sup
{
    position: absolute;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 400;
    left: calc(50% - 45px);
    color: var(--black);
}

.plans-card__description .plans-card__price 
{
    position: relative;
    font-size: 5.2rem;
    line-height: 5.3rem;
    font-weight: 500;
    padding-bottom: 15px;
    color: var(--black);
}
.plans-card__description .plans-card__trial-price 
{
    position: relative;
    font-size: 4.2rem;
    line-height: 5.3rem;
    font-weight: 500;
    padding-bottom: 15px;
    color: var(--black);
}
.plans-card__description .plans-card__basic-price
{
    position: relative;
    font-size: 5.2rem;
    line-height: 5.3rem;
    font-weight: 500;
    padding-bottom: 15px;
    color: var(--black);
}

.plans-card__description .plans-card__saving
{
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 400;
    color: #757575;
}

.plans-card__button
{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: #faf8f7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    color: var(--black);
    font-family: 'DM sans',sans-serif;
}

.plans-card__button span
{
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 5px;
    background-image: url('./assets/icons/orange-right-arrow.svg');
    vertical-align: text-bottom;
}

.plans-card__basic-button
{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: #faf8f7;
    border: 2px solid var(--secondary-blue);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    color: var(--black);
    font-family: 'DM sans',sans-serif;
}

.plans-card__basic-button span
{
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 5px;
    background-image: url('./assets/icons/orange-right-arrow.svg');
    vertical-align: text-bottom;
}

footer
{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

footer section
{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.footer-left ul
{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    list-style: none;
}

.footer-left li
{
    margin: 10px 0;
}

.footer-left a
{
    text-decoration: none;
    color: var(--just-white);
    cursor: pointer;
}